

h1{
  padding: 20px;
  text-align: center;
}


body {
  height: 2000px; 
  margin: 0;
}

  
.boba-group {
  position: relative;
}
.boba {
  position: absolute;
  left: -0px;
  transform: translateY(-50%);
  transition: transform 0.3s ease-out;
}

.chicken-group {
  position: relative;
  float: right;
}

.chicken {
  position: absolute;
  right: -0px;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.mango-group{
  position: relative;
}

.mango{
  position: absolute;
  left: -0px;
  transform: translateY(-50%);
  transition: transform 0.3s ease-out;
}


.text {
  position: relative;
  
  float: right;
  
  transform: translateX(-100%) translateY(-100%);
  text-align: center;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
} 

