
h1{
  padding-top: 20px;
  text-align: center;
  font-family: 'Source Serif 4', serif;
  font-size: 40px;
}

p{
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-family: 'Source Serif 4', serif;
  font-size: 20px;
}



body {
  height: 2000px; 
  margin: 0;
}


.boba-group {
  position: absolute;
  top:300px;
  padding-left: 30px;
}
.boba {
  position: absolute;
  padding-left: 30px;
  left: -0px;
  transition: transform 0.3s ease-out;
}

.chicken-group {
  position: absolute;
  top:800px;
  left:1080px;
  /* float: right; */
}
.chicken {
  position: absolute;
  right: -0px;
  transition: transform 0.3s ease-in-out;
}

.mango-group{
  position: absolute;
  top:1400px;
  padding-left: 30px;
}
.mango{
  position: absolute;
  left: -0px;
  transition: transform 0.3s ease-out;
}

.bear-group {
  position: absolute;
  top:1900px;
  left:1080px;
  /* float: right; */
}
.bear {
  position: absolute;
  right: -0px;
  transition: transform 0.3s ease-in-out;
}

.drink-group{
  position: absolute;
  top:2400px;
  padding-left: 30px;
}
.drink{
  position: absolute;
  left: -0px;
  transition: transform 0.3s ease-out;
}





/* text styling */
.textBoba {
  position: relative;
  float: right;
  transform: translateX(180%) translateY(400%);
  text-align: center;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
} 

.textChicken{
  transform: translateX(-230%) translateY(-1000%);
  font-size: 24px;
}

