

header{
  text-align: center;
  padding-top: 30px;
}

.div{
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 50px;
  text-align: center;

}

p{
  text-align: center;
  font-family: 'Source Serif 4', serif;
  font-size: 20px;
}



body {
  height: 2000px; 
  margin: 0;
  background-color: lightblue;
}


.boba-group {
  position: absolute;
  top:350px;
  padding-left: 50px;
}
.boba {
  position: absolute;
  padding-left: 50px;
  left: -0px;
  transition: transform 0.3s ease-out;
}

.chicken-group {
  position: absolute;
  top:800px;
  left:1030px;
  /* float: right; */
}
.chicken {
  position: absolute;
  right: 25px;
  transition: transform 0.3s ease-in-out;
}

.mango-group{
  position: absolute;
  top:1400px;
  padding-left: 50px;
}
.mango{
  position: absolute;
  left: -0px;
  transition: transform 0.3s ease-out;
}

.bear-group {
  position: absolute;
  top:1900px;
  left:1050px;
  /* float: right; */
}
.bear {
  position: absolute;
  right: -0px;
  transition: transform 0.3s ease-in-out;
}

.drink-group{
  position: absolute;
  top:2400px;
  padding-left: 50px;
}
.drink{
  position: absolute;
  left: -0px;
  transition: transform 0.3s ease-out;
}



/* text styling */
.textBoba {
  position: relative;
  float: right;
  transform: translateX(120%) translateY(400%);
  text-align: center;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
} 

.textChicken{
  position: relative;
  transform: translateX(-230%) translateY(-800%);
  font-size: 24px;
  transition: opacity 0.3s ease-in-out;
}

.textMango{
  position: relative;
  transform: translateX(200%) translateY(-400%);
  font-size: 24px;
  transition: opacity 0.3s ease-in-out;
}

.textDrink{
  position: relative;
  transform: translateX(240%) translateY(-250%);
  font-size: 24px;
  transition: opacity 0.3s ease-in-out;
}


