body {
    font-family: 'Josefin Slab', serif;
    background-image: url('images/background.gif');
    background-size: cover;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

/* header {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin-bottom: 20px;
    position: relative;
} */

.miffy {
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 60%;
    position: relative;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style form elements */
form p {
    margin: 10px 0;
    text-align: center;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff; /* Blue color for the button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3; 
}

article#madlib {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    header {
        width: 90%;
    }
    
    main {
        width: 80%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 36px;
    }
    
    input[type="text"] {
        width: 100%;
    }
    
    input[type="submit"] {
        width: 100%;
    }
}


